@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=PT+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient_bg {
  background: rgb(66, 21, 118);
  background: -moz-linear-gradient(
    273deg,
    rgba(66, 21, 118, 1) 0%,
    rgba(24, 7, 50, 1) 100%
  );
  background: -webkit-linear-gradient(
    273deg,
    rgba(66, 21, 118, 1) 0%,
    rgba(24, 7, 50, 1) 100%
  );
  background: linear-gradient(
    273deg,
    rgba(66, 21, 118, 1) 0%,
    rgba(24, 7, 50, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#421576",endColorstr="#180732",GradientType=1);
}
@media screen and (max-width: 720px) {
  .hide-mobile {
    display: none;
  }
}
